<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanager.book.repository.BookMapper">

    <select id="search" resultType="com.bookmanager.book.entity.Book">
        SELECT * FROM book
        order by book_id
    </select>

    <select id="findByBookId" resultType="com.bookmanager.book.entity.Book">
        SELECT * FROM book
        WHERE book_id = #{bookId}
    </select>

    <insert id="save">
        insert into Book (book_name, created_date, created_user, updated_date, updated_user)
        values (#{bookName}, now(), 'test', null, null)
    </insert>

    <delete id="delete">
        DELETE FROM book
        WHERE book_id = #{bookId}
    </delete>

    <update id="update">
        UPDATE book
        SET
        book_name = #{bookName}
        , updated_date = now()
        , updated_user = 'test'
        WHERE book_id = #{bookId}
    </update>

</mapper>