<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanager.book.repository.BookMapper">

    <select id="search" resultType="com.bookmanager.book.entity.Book">
        SELECT * FROM book
        WHERE user_id = #{userId}
        order by book_id

    </select>

    <select id="findByBookId" resultType="com.bookmanager.book.entity.Book">
        SELECT * FROM book
        WHERE book_id = #{bookId}
    </select>

    <select id="findByUserIdAndBookId" resultType="com.bookmanager.book.entity.Book">
        SELECT * FROM book
        WHERE book_id = #{bookId}
        AND user_id = #{userId}
    </select>

    <insert id="save">
        insert into Book (user_id, book_id, book_name, created_date, created_user, updated_date, updated_user)
        values (#{userId}, #{bookId}, #{bookName}, now(), #{userName}, now(), #{userName})
    </insert>

    <delete id="delete">
        DELETE FROM book
        WHERE book_id = #{bookId}
        AND user_id = #{userId}
    </delete>

    <update id="update">
        UPDATE book
        SET
        book_name = #{bookName}
        , updated_date = now()
        , updated_user = #{userName}
        WHERE book_id = #{bookId}
        AND user_id = #{userId}
    </update>

</mapper>